.banner{
    background-image: url(https://www.aesop.com/u1nb1km7t5q7/AGQGWYrTapcQI1NrPvsYU/11e99769c1767531dd3c12b6fce85f37/Aesop_Bar_Soaps_2023_Web_Homepage_2_Primary_Full_Bleed_Desktop_2880x1044px.jpg);
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.left-side-banner{
    width: 15.378955114054452vw;
}
.right-side-banner{
    width: 31.63vw;
    position: relative;
    bottom: 3.5vw;
}
.text-brown{
    color: #fffef2;
}
.brand-logo{
    position: relative;
    bottom: 15vw;
}
.banner-heading{
    font-weight: 400;
    font-size: 32px;
}
.banner-article{
    font-size: 17px;
    line-height: 29px;
    margin-bottom: 37px;
}
.banner-btn{
    width: 276px;
    height: 59px;
    background: transparent;
    border: 1px solid white;
    color: white;
    padding-left: 24px;
    display: flex;
    justify-content: start;
    align-items: center;
}
.banner-btn:hover{
    background-color: white;
    color: black;
    transition: 0.4s;
}









